@model codigoteca.Models.Group

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3 style="margin-bottom:10px">¿Está seguro que desea borrar el grupo <strong>@Model.GroupName</strong>?</h3>
<div style="margin-top:30px">
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            <a class="btn btn-primary" href="/Groups">Volver atrás</a>
        </div>
    }
</div>
