@model IEnumerable<codigoteca.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Grupos</h2>

<p>
    <a href="/Groups/Create" class="btn btn-default">Crear nuevo grupo</a>
</p>

<table class="table">
    <tr>
        <th>
            Nombre de grupo
        </th>
        <th>
            Fecha
        </th>
        <th>
            Acciones
        </th>
        <th></th>
    </tr>

    @if (ViewBag.isAdmin)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.GroupName
                </td>
                <td>
                    @item.GroupDate
                </td>
                <td>
                    <a href="/Groups/Details/@item.GroupID" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="/Groups/Edit/@item.GroupID" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                    <a href="/Groups/Delete/@item.GroupID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    }
    else
    {
        foreach (var item in ViewBag.groups)
        {
            <tr>
                <td>
                    @item.GroupName
                </td>
                <td>
                    @item.GroupDate
                </td>
                <td>
                    <a href="/Groups/Details/@item.GroupID" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    @if (ViewBag.UserId == item.Owner)
                    {
                        <a href="/Groups/Edit/@item.GroupID" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                        <a href="/Groups/Delete/@item.GroupID" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    }
</table>
