

@{
    ViewBag.Title = "Index";
}

<h3>Tus grupos</h3>

<button type="button" class="btn">
    @Html.ActionLink("Crear Grupo", "Create")
</button>
<br>
<br>
<table class="table">
    <tr>
        <th>
            Nombre del grupo
        </th>
        <th>
            Fecha de creación
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in ViewBag.groupUsers)
    {
        <tr>
            <td>
                 @item.GroupName
            </td>
            <td>
                @item.GroupDate
            </td>
            <td>
                <a href="/Groups/Details/@item.GroupID" class="btn btn-primary"> <i class="fa fa-eye"></i> </a>
            </td>
        </tr>
    }

</table>

