body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.code-textarea{
    resize:vertical;
    height:100% !important;
}

.tags-list {
    width: 100%;
    color: grey;
    padding: 0
}
    .tags-list * {
        color: grey;
        margin:0
    }

.tags-list li {
    list-style:none;
    display: flex;
    align-items:center;
    justify-content: space-between
}

    .tags-list .tag-value{
        border:none;
    }

    .tags-list .delete {
        cursor: pointer;
    }

.work-teams{
    display:none;
}


/*GROUPS*/
/*create*/
.groups .invited .invitation {
    width: 60%;
    display: flex;
    align-items: center;
}
    .groups .invited .invitation input {
        border: 0;
        color: #777;
        box-shadow: none;
        background-color:transparent;
    }

    .groups .invited .invitation i{
        color:#777;
        cursor:pointer
    }

    .groups .error{
        display:none;
    }