@model IEnumerable<codigoteca.Models.Invitation>

@{
    ViewBag.Title = "Index";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvitationHash)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvitationHash)
        </td>
        <td>
            <a href="/invitations/accept/@item.Id" class="btn btn-success">Aceptar</a>
            <a href="/invitations/reject/@item.Id" class="btn btn-danger">Rechazar</a>
        </td>
    </tr>
}

</table>
