@model codigoteca.Models.User

@{
    ViewBag.Title = "Codigoteca | Inicio";
}

<h2>@ViewBag.Title</h2>
<p>Iniciaste Sesión!</p>

@{Html.RenderAction("VistaParcial", "Groups");
}
@{Html.RenderAction("VistaParcial", "Posts");
}