@model codigoteca.Models.User

@{
    ViewBag.Title = " | Inicio";
}

<h2><font face="Consolas">C0D1G0TECA</font>@ViewBag.Title</h2>

@{Html.RenderAction("VistaParcial", "Groups");
}
@{Html.RenderAction("VistaParcial", "Posts");
}