@model codigoteca.Models.User

@{
    ViewBag.Title = " | Inicio";
}

<h2><font face="Consolas">C0D1G0TECA</font>@ViewBag.Title</h2>

@{Html.RenderAction("VistaParcial", "Groups");
}
@{Html.RenderAction("VistaParcial", "Posts");
}


@section Scripts {
    <script>
        $("a.exitGroup").click(function () {
            console.log($(".modal .confirm"))
            $(".modal .confirm").attr("href", ("/Groups/exitGroup?groupId=" + $(this).attr("data-id")));
        })
    </script>
}
